$blue: #0063ff;
$darkblue: #1e5799;
$lightblue: #7db9e8;

$prefix: "http://mobius01.crios.bysh.me/dev/win/";

@mixin image($x: 0, $y: 0) {
	background-image: url("http://mobius01.crios.bysh.me/dev/win/paint.gif");
	background-position: $x $y;
	// background-size: 560px;
}

@mixin gradient() {
	background: #7db9e8;
	background: -moz-linear-gradient(top, $lightblue 0%, $blue 12%, $blue 86%, $darkblue 100%);
	background: -webkit-linear-gradient(top, $lightblue 0%,$blue 12%,$blue 86%,$darkblue 100%);
	background: linear-gradient(to bottom, $lightblue 0%,$blue 12%,$blue 86%,$darkblue 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 );
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
	font-family: "Tahoma";
	font-size: 13px;
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;	
}

ul {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

canvas {

}

$height: 80vh;
$width: 80vw;
$barheight: 30px;

#window {
	width: $width;
	height: $height;
	border-radius: 5px;
	overflow: hidden;
}

#topbar {
	width: 100%;
	height: $barheight;
	
	background-image: url(#{$prefix}bar.png);
	background-repeat: repeat-x;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	.icon {
		background-image: url(#{$prefix}logo.png);
		width: 21px;
		height: 30px;
	}
	
	.text {
		width: calc(#{$width} - 80px - 21px);
		color: #fff;
		padding: 0 10px;
		font-weight: bold;
		text-shadow: 1px 1px #000;
	}
	
	.tools {
		width: 80px;
		button {
			width: 21px;
			height: 21px;
			border: none;
			
			&.minimize {
				@include image(-367px, -6px);
			}
			&.maximize {
				@include image(-390px, -6px);
			}			
			&.close {
				@include image(-413px, -6px);
			}
		}
	}
}

#top {
	width: 100%;
	background-color: #efe7d6;
	border-bottom: 1px solid #a5a594;
	
	ul {
		display: flex;
		align-items: center;
		padding: 0;
		margin: 0;
	}
	
	li {
		list-style: none;
	}
	
	button {
		border: none;
		background-color: transparent;
		padding: 6px 6px;
		font-size: 11px;
		font-family: "MS Sans Serif";
		
		span {
			text-decoration: underline;
		}
	}
}

#main {
	border-style: solid;
	border-color: $blue;
	border-width: 0 5px 5px 5px;
	box-sizing: border-box;
	
	display: flex;
	// align-items: center;
	justify-content: center;
	flex-direction: column;
	
	width: 100%;
	height: calc(#{$height} - #{$barheight});
}

#app {
	display: flex;
	align-items: center;

	height: calc(#{$height} - #{$barheight} - 100px - 25px);
}

#left {
	background-color: #efe7d6;
	width: 63px;
	height: 100%;
	box-shadow: inset 0 1px #fff;
}

#tools {
	ul {
		flex-wrap: wrap;
		padding: 3px;
		
		li {
			width: 28px;
			height: 28px;
			box-sizing: border-box;
			
			button {
				width: 100%;
				height: 100%;
				background-image: url(#{$prefix}tools.png);
				border: 1px solid transparent;
				border-radius: 5px;
				box-sizing: border-box;
				
				&:disabled {
					opacity: 0.2;
				}
				
				&:hover, &.active {
					background-color: #fff;
					border: 1px solid #8696bc;
				}
			}
			
			$n: 0;
			$inc: -25px;
			$x: -2px;
			$y: -2px;
			
			@for $i from 1 through 8 {
				
				&:nth-child(#{$n + $i}) {
					button {
						background-position: $x $y;
					}
				}
				
				&:nth-child(#{$n + $i + 1}) {
					button {
						background-position: $x + $inc $y;
					}
				}
				
				$y: $y + $inc;
				$n: $n + 1;
			}			
		}
	}
}

#right {
	position: relative;
	border: 5px solid #848484;
	box-sizing: border-box;
	height: 100%;
	width: calc(#{$width} - 63px);

	&.line {
		cursor: crosshair;
	}

	&.pencil {
		cursor: url(#{$prefix}pencil.png) 0 24, auto;
	}

	&.dropper {
		cursor: url(#{$prefix}dropper.png) 0 16, auto;
	}

	canvas {
		position: absolute;
		left: 0px;
		top: 0px;
	}

	#c2 {
		pointer-events: none;
	}
}

#c {
	width: 100%;
	height: 100%;
}

#bottom {
	height: 100px;
	width: 100%;
	background-color: #efe7d6;
	border-top: 1px solid #a5a594;
	position: relative;
	box-shadow: inset 0 1px #fff;
}

#colors {
	display: flex;
	align-items: center;
}

@mixin shadow() {
	box-shadow: inset 1px 1px #000;
	border-style: solid;
	border-width: 1px;
	border-color: #adad9c lighten(#efe7d6, 5) lighten(#efe7d6, 5) #adad9c;		
}

#selected {
	width: 42px;
	height: 42px;
	background-color: #eee;
	@include shadow();
	margin: 4px 2px 0 4px;
	position: relative;
	
	div {
		position: absolute;
		
		&:nth-child(2) {
			left: 5px;
			top: 5px;
		}
		
		&:nth-child(1) {
			right: 5px;
			bottom: 5px;
		}		
	}
}

#selection {
	ul {
		width: 180px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
}

.color {
	margin: 0 1px;
	width: 20px;
	height: 20px;
	background-color: #eee;
	@include shadow();
	padding: 0;

	$white: #fff;
	$black: #000;
	$grey: #aaa;
	$red: #f00;
	$yellow: #ff0;
	$lime: #0f0;
	$aqua: #0ff;
	$blue: #00f;
	$pink: #f0f;

	&.black {
		background-color: #000;
	}

	&.darkgrey {
		background-color: darken($grey, 20);
	}

	&.darkred {
		background-color: darken($red, 20);
	}

	&.darkyellow {
		background-color: darken($yellow, 20);
	}

	&.darkgreen {
		background-color: darken($lime, 20);
	}

	&.darkaqua {
		background-color: darken($aqua, 20);
	}

	&.darkblue {
		background-color:darken($blue, 20);
	}

	&.darkpink {
		background-color: darken($pink, 20);
	}

	&.white {
		background-color: $white;
	}

	&.grey {
		background-color: $grey;
	}

	&.red {
		background-color: $red;
	}

	&.yellow {
		background-color: $yellow;
	}

	&.green {
		background-color: $lime;
	}

	&.aqua {
		background-color: $aqua;
	}

	&.blue {
		background-color: $blue;
	}

	&.pink {
		background-color: $pink;
	}				
}